@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    500 Joseph C. Wilson Blvd<br />
    Rochester, NY 14627-6743<br />
    <abbr title="Phone">P:</abbr>
    585.978.0672
</address>

<address>
    <strong>School Email:</strong> <a href="mailto:bgathee@u.rochester.edu">bgathee@u.rochester.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:benson7484@gmail.com">benson7484@gmail.com</a>
</address>
