@{
    ViewData["Title"] = "Education";
}

<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h2>Research</h2>
        <ul class="w3-ul">
            <li>
                My current research interests lie in the intersection of Natural Language Understanding and Computer Vision.
            </li>
        </ul>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <div class="w3-container">
            <h4 class="w3-center">
                <a href="~/Publications/Spatial_QA_Paper.pdf"><b>A Dialogue System for Spatial Answering in A Physical Blocks World</b></a>
            </h4>
            <p>
                The blocks world is a classic toy domain that has long been used
                to build and test spatial reasoning systems. Despite its relative
                simplicity, tackling this domain in its full complexity requires the
                agent to exhibit a rich set of functional capabilities, ranging from
                vision to natural language understanding. There is currently a
                resurgence of interest in solving problems in such limited domains
                using modern techniques. In this work we tackle spatial question
                answering in a holistic way, using a vision system, speech input
                and output mediated by an animated avatar, a dialogue system
                that robustly interprets spatial queries, and a constraint solver that
                derives answers based on 3-D spatial modeling.
            </p>
            <ol>
                <li><a href="~/Publications/Spatial_QA_Paper.pdf" target="_blank" style="text-decoration: none;">Anonymous Author(s). A spoken Dialogue System for Spatial Question Answering in A Physical Blocks World.</a></li>
            </ol>
        </div>
    </div>
</div>
<hr />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h2>Courses</h2>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <ul class="w3-ul">
            <li>Summer 2019 - Teaching Assistant, <a href="//www.cs.rochester.edu/u/pawlicki/csc/172/Summer2019/">CSC 172 Data Structures and Algorithms</a></li>
            <li>Summer 2019 - Teaching Assistant, <a href="//www.cs.rochester.edu/u/pawlicki/csc/171/Summer2019/">CSC 171 Introduction to Computer Science (Java)</a></li>
        </ul>
    </div>
</div>
<hr />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h2>Code & Data</h2>
        <ul class="w3-ul">
            <li>
                Commonly used resources and code samples from the NLU and Vision communities that
                I have compiled in collaboration with research groups.
            </li>
        </ul>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <ul class="w3-ul">
            <li>
                Summer 2019 - <a href="https://github.com/gplatono/lexical_resources/" target="_blank">Lexical Resources</a>
                , This directory is for various lexical resources, such as lists of "X most frequent" or "X most fundamental words" in the English language, words lists by syntactic categories, the data on the word inflection (i.e., tenses and aspects of verbs), etc.
            </li>
            <li>
                Summer 2019 - <a href="https://github.com/bensongathee/Q_and_A_Dataset_curated_from_YouCook2Dataset/" target="_blank">Q&A Dataset</a>
                , This directory is curated from <a href="http://youcook2.eecs.umich.edu/" target="_blank">YouCook2's 500+ video dataset,</a> to aid in tasks such as activity recognition and video segmentation on instructional videos.
            </li>
        </ul>
    </div>
</div>
<br>    