@{
    ViewData["Title"] = "Education";
}
<br />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h4>Here are some valuable educational methods I use to facilitate learning and to help others learn.</h4>
    </div>
</div>
<hr />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h3>Research Experience</h3>
        <h5>My current research interests are in the intersection of Natural Language Processing and Computer Vision.</h5>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <div class="w3-container">
            <h5 class="w3-center"><b>Computational Models for Spatial Prepositions</b></h5>
            <p>
                Developing <a href="http://www.cs.rochester.edu/u/schubert/papers/platonov...spatial-prepositions18.pdf" target="_blank">computational models for spatial prepositions</a> (such as on, in, above, etc) is a crucial task
                for human-machine collaboration. However, these prepositions are notoriously vague and ambiguous resulting 
                to the truth value judgement of prepositional relations often uncertain and variable. Our research hopes to
                assign probabilities to these relations as a function of multiple factors, where such probablities can be viewed
                as estimates of whether humans would judge the relation to hold in given circumstances.
            </p>
            <ol>
                <li>Spatial Question Answering in Blocks World, <a href="~/Publications/Spatial_QA_Paper.pdf" target="_blank">Anonymous Author(s). A spoken Dialogue System for Spatial Question Answering in A Physical Blocks World.</a></li>
            </ol>
        </div>
    </div>
</div>
<hr />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h3>Teaching Experience</h3>
        <h5>I help students find their Mojo for Computer Science, to develop tools for the billions of users.</h5>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <ul class="w3-ul">
            <li>Summer 2019 - Teaching Assistant,<a href="//www.cs.rochester.edu/u/pawlicki/csc/172/Summer2019/">CSC 172 Data Structures and Algorithms</a></li>
            <li>Summer 2019 - Teaching Assistant,<a href="//www.cs.rochester.edu/u/pawlicki/csc/171/Summer2019/">CSC 171 Introduction to Computer Science (Java)</a></li>
        </ul>
    </div>
</div>
<hr />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h3>Code & Data</h3>
        <h5>I've worked and collaborated with research groups and students to create various open source resources, for the NLP and Computer Vision community.</h5>
    </div>
    <div class="w3-container" style="padding-left:35px;padding-right:35px">
        <ul class="w3-ul">
            <li>
                Summer 2019 - <a href="https://github.com/gplatono/lexical_resources/" target="_blank">Lexical Resources</a>
                , This directory is for various lexical resources, such as lists of "X most frequent" or "X most fundamental words" in the English language, words lists by syntactic categories, the data on the word inflection (i.e., tenses and aspects of verbs), etc.
            </li>
            <li>
                Summer 2019 - <a href="https://github.com/bensongathee/Q_and_A_Dataset_curated_from_YouCook2Dataset/" target="_blank">Q&A Dataset</a>
                , This directory is curated from <a href="http://youcook2.eecs.umich.edu/" target="_blank">YouCook2's 500+ video dataset,</a> to aid in tasks such as activity recognition and video segmentation on instructional videos.
            </li>
        </ul>
    </div>
</div>
<br>    