@{
    ViewData["Title"] = "Entrepreneurship";
}
<br />
<div>
    <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
        <h4>
            There are <b>4</b> main skillsets I leverage to develop myself as a successful entrepreneur. To kick it off, let me introduce you to my size of thinking by reading
            <a href="~/Books/The Magic Of Thinking Big (1 ).pdf" target="_blank"><b>The Magic Of Thinking Big</b></a>. I value these invaluable skillsets because my success is an <b>unstoppable locomotive.</b>
        </h4>
    </div>
</div>
<hr />
<ol class="w3-ul">
    <li>
        <div>
            <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
                <h3>People skills</h3>
            </div>
            <div class="w3-container" style="padding-left:35px;padding-right:35px">
                <div class="w3-container">
                    <p>People skills is simply the <b>study of people!</b> It's the ability to relate to all kinds of people because it's not possible for effective communication to occur without building <b>relationships.</b></p>
                    <p>Without this skillset, <b>Whom I'm I gonna lead?</b></p>
                    <p>The only way to develop this skillset is through <b>practice!</b> Here are a few tips I use to advance my people skills: </p>
                    <ol type="i">
                        <li>
                            <p>
                                <b>Reading books</b>: I've placed myself on a specific diet of books that aid me advancing this skillset, an hour a day. To have a taste of my diet let me introduce you to my all time favourite,
                                <a href="~/Books/How To Win Friends & Influence People(4).pdf" target="_blank"><b>How To Win Friends & Influence People</b></a>. This is a <b>must</b> read for everyone!
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Listening to AudioBooks!</b>: When working out, I listen to Audiobooks! And the more I listen, the more I learn about people. 
                                <b>What motivates a doctor from liberia, is different from what motivates an engineer from India</b>. Same case applies to refugees, scientists... <b>similar yet very different</b>.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Open meetings</b>: Whenever I attend an open meeting; lectures, seminars, hangouts... I make an extra effort to put my skills to work. <b>I network</b>! Most importantly 
                                <b>I talk to all kinds of people</b>, and <b>learn a bit about their background.</b>
                                So, next time I meet someone from their background, I can <b>relate</b> and <b>lead a meaningful conversation</b>!
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <hr />
    </li>
    <li>
        <div>
            <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
                <h3>Communication skills</h3>
            </div>
            <div class="w3-container" style="padding-left:35px;padding-right:35px">
                <div class="w3-container">
                    <p>To be a <b>successful entrepreneur</b> one need to possess very good communication skills, both <b>intrateam</b> and <b>interteam.</b></p>
                    <p>Else, <b>How I'm I gonna lead?</b></p>
                    <p>Developing this skill is all about <b>reflection...!</b> Here are a few tips I use to develop and advance this skillset, and the <b>power of reflection!</b>:</p>
                    <ol type="i">
                        <li>
                            <p>
                                <b>I expand my circle</b>: One cannot <b>increase </b>their communication skills without expanding their circle. The more I communicate outside my circle the more I'm <b>forced</b> to go <b>beyond the boundaries</b> of my communication skillset.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>I actually communicate and Reflect!!!</b>: My mentor once told me <b>"Never assume communication has happened"</b>.
                                So, everytime I'm communicating, giving a talk... <b>I ask questions</b>! How it <b>went</b>? how to <b>improve my introduction</b>? Is there a <b>more effective</b> way to communicate what I just communicated? I'm I <b>inspiring</b> the people I'm talking to with my words? How about the <b>tone</b> of my voice?
                                How do I keep people <b>focused </b>on my presentation?
                            </p>
                            <p>
                                To create and develop my communication skillset I needed to develop a habit, and here's a good read that helped me get into the communication habit,
                                <a href="~/Books/The Compound Effect(2).pdf" target="_blank"><b>The Compound Effect</b></a>.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <hr />
    </li>
    <li>
        <div>
            <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
                <h3>Leadership skills</h3>
            </div>
            <div class="w3-container" style="padding-left:35px;padding-right:35px">
                <div class="w3-container">
                    <p>A <b>leader </b>is simply a person who can <b>communicate, relate</b> and <b>lead</b> people to a <b>common mission </b>and actually put in <b>work.</b></p>
                    <p>My mentor made a very good point about this skillset; that I <b>"could teach anyone all the other invaluable skillsets but not this one!"</b></p>
                    <p>So, I don't have any tip here! It's within me! It's upto me!</p>
                    <p>But one thing I know is that, <b>to lead people</b>, one needs to have <b>content!</b></p>
                </div>
            </div>
        </div>
        <hr />
    </li>
    <li>
        <div>
            <div class="w3-row-padding" style="padding-left:35px;padding-right:35px">
                <h3>Business skills</h3>
            </div>
            <div class="w3-container" style="padding-left:35px;padding-right:35px">
                <div class="w3-container">
                    <p>I prefer to think of Business skills as the <b>content.</b> It's one those key ingredients the leadership recipe can't succeed without.</p>
                    <p>Else, <b>What I'm I gonna lead people into?</b></p>
                    <p>Developing this skillset requires <b>practice and patience!</b> Here are a few tips I use to develop this skillset:</p>
                </div>
                <ol type="i">
                    <li>
                        <p>
                            <b>Practice</b>: I <b>practice, practice, practice</b> in whatever I want to do: how to make intro's, how to sell... I just do it! Along the way, I make mistakes.
                            I learn, improve and keep going!
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>I just do it</b>: As simple as it sounds!
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </li>
</ol>
<br>