@{
    ViewData["Title"] = "Home Page";
}

<div class="w3-row w3-margin-top" style="padding-left:35px;padding-right:35px">
    <div class="w3-quarter">
        <div class="w3-center" style="padding-top:35px"><img src="~/Images/Gathee.png" class="w3-round w3-center" style="height:100%;max-height:250px;width:100%;max-width:250px"></div>
        <div class="w3-center">
            <p>
                Undergraduate Student<br>
                <a href="//www.cs.rochester.edu/" style="text-decoration:none">Computer Science</a><br>
                <a href="//www.rochester.edu/" style="text-decoration:none">University of Rochester</a>
            </p>
        </div>
    </div>
    <div class="w3-threequarter" style="padding-left:35px">
        <h2>About</h2>
        <p>
            I am an undergraduate student of the <a href="https://www.cs.rochester.edu/" style="text-decoration: none;">Department of Computer Science</a> at the <a href="https://www.rochester.edu/" style="text-decoration: none;">University of Rochester</a>.
            My advisor is <a href="https://www.cs.rochester.edu/~schubert/home.html" target="_blank" style="text-decoration: none;">Prof. Lenhart K. Schubert</a>,
            a leading researcher in the field of common sense reasoning in AI.
            Besides <a style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Education">Education</a>, I have found some of my other interests in
            <a style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Activities">Entrepreneurship</a>,
            <a style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Activities">Social Action Projects</a> and
            <a style="text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Activities">Career development</a>.
            Explore the website and get to know me better :-)
        </p>
        <p>
            Resume: <a href="~/Career/BensonGathee_Resume.pdf" target="_blank">pdf</a>
        </p>
        <h2>Contact</h2>
        <p>
            Email: &#098;&#103;&#97;&#116;&#104;&#101;&#101;&#064;&#117;&#046;&#114;&#111;&#099;&#104;&#101;&#115;&#116;&#101;&#114;&#046;&#101;&#100;&#117;<br>
            Office: 2009 Wegmans Hall<br>
            Phone: 585-978-0672<br>
            Office Hours: TR 14:00-15:00<br>
    </div>
</div>

<div class="w3-container" style="padding-left:35px;padding-right:35px">
    <h2>News</h2>
    <ul class="w3-ul">
        <li><i class="fa fa-feed" style="color:Red"></i> 08/2019 - My current <a asp-area="" asp-controller="Home" asp-action="Activities" style="text-decoration:none">Social Action Project - Kiongozi</a>, is under high consideration for the <a href="https://www.davisprojectsforpeace.org/" target="_blank" style="text-decoration:none">Davis Projects for Peace Grant</a>.</li>
    </ul>
</div>
<div class="w3-container" style="padding-left:35px;padding-right:35px">
    <h2>Services</h2>
    <h4>Member Committee</h4>
    <ul>
        <li><a href="https://www.facebook.com/pg/KeEquityBank/photos/?tab=album&album_id=724754231003539" target="_blank">Equity Global Scholars, 2017, 2019</a></li>
        <li>Pan African Students Association, 2017, 2019</li>
    </ul>
</div>