@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class=row>
    <div class="col-sm-9">
        <img class="img-circle" src="https://www.rochester.edu/creativeservices/downloads/Goodies/Desktoppics/UR+blue1920x1200.jpg" height=120 width=120>
    </div>
    <div class="col-sm-3">
        <br>
        <p>University of Rochester</p>
        <p>Computer Science</p>
        <a href="resume2019.pdf" target="_blank"><img class="img headerIcon" src="~/images/resume.svg" height=20 width=20 style="margin-left:0px"></a>
        <a href="mailto:bgathee@u.rochester.edu" target="_blank"><img class="img headerIcon" src="~/images/envelope.svg" height=20 width=20></a>
        <a href="https://github.com/bensongathee" target="_blank"><img class="img headerIcon" src="~/images/github-logo.svg" height=20 width=20></a>
        <a href="https://www.linkedin.com/in/benson-gathee-99932a137/" target="_blank"><img class="img headerIcon" src="images/linkedin.svg" height=20 width=20></a>
    </div>
</div>



<div>
    <br />
    <h1 class="text-center lead" style="font-size:500%; text-align:left;">Hi, I am Benson Gathee... </h1>
    <h6 class="text-center lead" style="font-size:200%">and I’m a social entrepreneur...</h6>
</div>



<div>
    <p>
        I’m a co-founder, and the lead programmer of the <a href="url" style="color:green">Epicenter </a>projects,
        which aims at bringing youth together, and in unison work towards their financial freedom through collaborative entrepreneurship.
        I’m also a research assistant at the University of Rochester with interests spanning across computer vision and natural language processing.
        Previously, I interned at <a href="https://www.equitybankgroup.com/" style="color:green">Equity Bank Group</a>, one of Africa’s leading financial institution,
        where I provided management support to a series of digital banking platforms: <a href="https://ke.equitybankgroup.com/eazzybiz/" style="color:green">EazzyBiz</a>,
        Cash and Liquidity Management solution for Corporate and SME banking and <a href="https://www.equitel.com/my-money/eazzy-pay" style="color:green">EazzyPay</a>,
        a service allowing customers to pay for Goods and Services from their Equitel SIM card or from any Mobile money (Mpesa or Airtel Money) at an affordable rate.
    </p>
    <p>
        Other thing I’m passionate about: Marketing, Sustainability, Renewable energy, Equality, Chess, Space
    </p>
    <p>Scroll down and get to know me better :)</p>
</div>



<br />
<h6 class="text-center lead sectionHeaders"><a href="/Home/Projects" style="color:green">Projects</a></h6>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Epicenter</b></p>
            <span class="tags" style="background-color:darksalmon;">Davis Projects for Peace grants</span>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <h5>PEACE THROUGH ENTREPRENEURSHIP IN THE DEMOCRATIC REPUBLIC OF CONGO </h5>
        <p>
            The aim of our project was to bring youth together, and in unity, to work towards their financial freedom through collaborative entrepreneurship. 
            We believe that entrepreneurship brings about not only financial stability, but also can provide peace to Goma by offering employment to the city’s youth. 
        </p>
        <a href="https://Epicenter.github.io" target="_blank"><img class="img-circle" src="~/images/logo.png" height=25 width=25></a>
        <br />
        <a href="/Home/Projects" style="text-align:center; color:green">more social action projects</a>
    </div>
</div>



<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Cash & Liquidity Management</b></p>
            <span class="tags" style="background-color:darkturquoise;">Digital Banking</span>

        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>
            The year long program involved working with the newly released online banking platforms. In a team of six interns, we collaborated and
            employed digital banking solutions to provide management support to corporate and retail customers during day to day cash management processes 
            and to minimize unnecessary cash holdings
        </p>
        <a href="/Home/Projects" style="text-align:center; color:green">more internship projects</a>
    </div>
</div>



<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Problems in video understanding</b></p>
            <span class="tags" style="background-color:darkorange;">Research</span>

        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>
            My current research interest involves problems in video understanding such as activity recognition and video segmentation. I'm working under <a href="https://www.cs.rochester.edu/u/cxu22/" style="color:green">Dr. Chenliang Xu</a>
            to curate a large Question-Answering (QA) dataset using YouCook II Dataset to aid in understanding instructional videos and 
            to develop algorithms that perform automatic QA
        </p>
        <a href="/Home/Projects" style="text-align:center; color:green">more research projects</a>
    </div>
</div>



<br />
<br />
<h6 class="text-center lead sectionHeaders"><a href="/Home/Articles" style="color:green">Articles</a></h6>
<div>
    <p>
        In the past few months, I've learned a lot about Computer Science and all the ways it fits into the grand scheme.
        Here are a few essays on various topics in CS which I've come across in my classes, internship, and personal research.
    </p>
</div>



<br>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <div>
            <a style="float:left" href="essays/hci.pdf" target="_blank"><img class="img" src="~/images/essay.png" height=20 width=20></a>
            <p style="text-align:center" class="essayTitles">Human Computer Interaction in Game Design</p>
        </div>
    </div>
</div>
<br />
<br />
<br />



