@{
    ViewData["Title"] = "Projects";
}

<h6 class="text-center lead sectionHeaders">Social action projects</h6>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Epicenter</b></p>
            <span class="tags" style="background-color:darksalmon;">Davis Projects for Peace grants</span>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <h5>PEACE THROUGH ENTREPRENEURSHIP IN THE DEMOCRATIC REPUBLIC OF CONGO </h5>
        <p>
            The aim of our project was to bring youth together, and in unity, to work towards their financial freedom through collaborative entrepreneurship.
            We believe that entrepreneurship brings about not only financial stability, but also can provide peace to Goma by offering employment to the city’s youth.
        </p>
        <a href="https://Epicenter.github.io" target="_blank"><img class="img-circle" src="~/images/logo.png" height=25 width=25></a>
        <br />
        <a href="/Home/Projects" style="text-align:center; color:green">more social action projects</a>
    </div>
</div>

<br>
<br>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Book drive</b></p>
            <span class="tags" style="background-color:darksalmon;">Fundraising</span>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>In an effort to encourage myself from the progress I was making, I decided to document my soultions to software development interview preparation challenges.</p>
        <a href="https://github.com/SalomeWairimu/Interview-Prep-challenges" target="_blank"><img class="img-circle" src="~/images/logo.png" height=25 width=25></a>

    </div>
</div>
<br>
<br>



<h6 class="text-center lead sectionHeaders">Internship projects</h6>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Cash & Liquidity Management</b></p>
            <span class="tags" style="background-color:darkturquoise;">Digital Banking</span>

        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>
            During my sophomore year summer internship, I collaborated on a team of four interns to develop a linear programming model to find the optimal number of ETFs from client orders to
            create or borrow inorder to reduce expenses and maximize profit. On top of aiding with the backend, I was responsible for integrating our backend code with a database and user interface.
            I achieved this goal using Django to connect all parts of the web application.
        </p>
    </div>
</div>
<br />
<br />



<h6 class="text-center lead sectionHeaders">Research Projects</h6>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Problems in video understanding</b></p>
            <span class="tags" style="background-color:darkorange;">Research</span>

        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>
            My current research interest involves problems in video understanding such as activity recognition and video segmentation. I'm working under <a href="https://www.cs.rochester.edu/u/cxu22/" style="color:green">Dr. Chenliang Xu</a>
            to curate a large Question-Answering (QA) dataset using YouCook II Dataset to aid in understanding instructional videos and
            to develop algorithms that perform automatic QA
        </p>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-sm-3">
        <div>
            <p class="lead"><b>Problems in video understanding</b></p>
            <span class="tags" style="background-color:darkorange;">Research</span>

        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <p>
            My current research interest involves problems in video understanding such as activity recognition and video segmentation. I'm working under <a href="https://www.cs.rochester.edu/u/cxu22/" style="color:green">Dr. Chenliang Xu</a>
            to curate a large Question-Answering (QA) dataset using YouCook II Dataset to aid in understanding instructional videos and
            to develop algorithms that perform automatic QA
        </p>
    </div>
</div>
<br>
<br>