<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benson Gathee's Homepage University of Rochester</title>
    <meta name="description" content="Benson Gathee's Personal Website">
    <meta name="keywords" content="Benson, Wanjohi, Gathee, Benson Gathee, Benson Wanjohi">
    <meta name="author" content="Benson Gathee">
    <link rel="stylesheet" href="//www.cs.rochester.edu/~cxu22/w3.css">
    <link rel="stylesheet" href="//www.cs.rochester.edu/~cxu22/font-awesome-4.6.3/css/font-awesome.min.css">
</head>
<body class="w3-content w3-light-grey" style="max-width:980px">
    <div class="w3-card-8 w3-white w3-margin-left w3-margin-right">
        <header class="w3-container w3-margin-top" style="padding-left:35px;padding-right:35px">
            <div class="w3-left">
                <h1>Benson Gathee</h1>
            </div>
            <div class="w3-right">
                <img src="~/images/UR-logo.jpg" class="w3-margin-top" alt="pic" style="height: 50px">
            </div>
        </header>
        <ul class="w3-navbar w3-black">
            <li><a asp-area="" asp-controller="Home" asp-action="Home"><i class="fa fa-home"></i> Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Education">Education</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Entrepreneurship">Entrepreneurship</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Social_Action_Project">Social Action Projects</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Career">Career</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Health">Health</a></li>
            <li style="float:right"><a href="resume2019.pdf">Resume</a></li>
        </ul>
        <div class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <br />

            <footer class="w3-container w3-margin-bottom w3-border-top">
                <p><i>copyright  2018 Benson Gathee, powered by w3.css</i></p>
            </footer>
        </div>
    </div>
</body>
</html>